* {
    margin:0; /* espaçamento externo */
    padding: 0; /* espaçamento interno */
}

body {
    font-size: 14px;
}

.flex-container {
    display: flex;
    width: 100%;
}

#topo {
    width: 100%;
    height: auto;
    background-color: #ccc;
    justify-content: center;
}
#topo a {
    text-align: center;
}

.imagem {
    width: 40%;
    height: auto;
}

nav {
    width: 100%;
    height: auto;
    background-color: rgb(199, 19, 19);
    justify-content: center;
}

.menu {
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}

.menu li {
    position: relative;
    padding: 10%;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.menu li a:hover {
    color: #000;
    transition: 0.5;
}

.menu li ul {
    list-style: none;
    display: none;
    position: absolute;
    top: 70px;

}

.menu li:hover ul {
    display: block;
}

.menu li ul li{
    display: block;
    width: 170px;
}

